$font-stack: Arial, san-serif;
$color1:#111;
$primary-color: #333;
$fontsize:18px;
$border: 5px solid $color1;
$padding: 10px 10px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body{
  
  font: $font-stack;
  color:$primary-color;
}

.obj1{
  
  -webkit-column-count: 2; 
    -moz-column-count: 2;
}

.container
{
  width:600px;
  margin: 15px auto;
  border:$border;
  padding:$padding;
  @include border-radius (10px);
  
}
p{
  font-family:$font-stack;
}
h1{

  border-bottom:$border;
  padding:$padding;

}