body {
  font: Arial, san-serif;
  color: #333;
}

.obj1 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
}

.container {
  width: 600px;
  margin: 15px auto;
  border: 5px solid #111;
  padding: 10px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

p {
  font-family: Arial, san-serif;
}

h1 {
  border-bottom: 5px solid #111;
  padding: 10px 10px;
}
